@import './common.less';

/*
** BET_CENTER COMPONENT
*/
@betCenter-bg: #111 url('../assets/image/background.png') center center
  no-repeat;

// betcenter header
@betCenter-header-bg: transparent;

@betCenter-logo-bg: transparent;

@betCenter-header-color: @base-white;

// betcenter sidenav

@betCenter-sideNav-bg: @primary-color--dark;

@betCenter-sideNav-subMenuItem-bg: @primary-color;

@betCenter-sideNav-subMenuItem-bg--hover: @primary-color--dark;

// betcenter nav
@betCenter-nav-bg: @primary-color;

@betCenter-nav-bg--active: @primary-color--dark;

@betCenter-subNav-bg: #e5e5f3;

@betCenter-subNav-bg--active: @base-white;

@betCenter-subNav-color--active: @text-color;

// betcenter board
@betCenter-board-bg: @base-white;

// betcenter calulator
@betCenter-cal-bg: @betCenter-subNav-bg;

@betCenter-cal-color: @text-color;

@betCenter-cal-radius: 0;

// betcenter cart
@betCenter-cart-bg: @betCenter-subNav-bg;

@betCenter-cartHeader-bg: @tableHeader-bg;

@betCenter-cartHeader-color: @base-white;

@betCenter-cart-color: @text-color;

@betEntrance-headline-color: @base-white;

/*
** Overrides
*/
.gameboard_btn_override {
  background: linear-gradient(-180deg, #fdfdfd 0%, #eeedf2 51%, #e3e3ec 100%);
  color: @text-color;
  border: 0;
  box-shadow: @shadow-dp2;
  &:hover,
  &[data-active='true'] {
    background: @alert-color;
    color: @base-white;
    border: 0;
    box-shadow: @shadow-dp0;
  }
}
.gameboard_ctrlBtn_override {
  background: linear-gradient(-180deg, #fdfdfd 0%, #eeedf2 51%, #e3e3ec 100%);
  color: @text-color;
  border: 0;
  box-shadow: @shadow-dp2;
  &:hover,
  &[data-active='true'] {
    background: @alert-color;
    color: @base-white;
    border: 0;
    box-shadow: @shadow-dp0;
  }
}
