@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: url('../assets/image/fishing/fishingBg.png') top center / cover
  no-repeat fixed;

@fishingPage-title: none;

@fishingPage-padding-top: 0;

@fishingPage-title-height: 50px;
