@import './common.less';

@page-mainLayout-bg: #111 url('../assets/image/background.png') top no-repeat;

@page-mainLayout-bg-attachment: fixed;

/*
** HEADER COMPONENT
*/
@header-bg: transparent;

@header-color: @base-white;

@cards-header-color: @primary-color;

@header-color--disabled: @primary-color--light;

@header-height: 1.875rem;

@marquee-icon-size: 1.875rem;

@marquee-bg: @primary-color--dark;

@marquee-icon-color: @accent-color;

@marquee-color: @base-white;

/*
** FOOTER COMPONENT
*/
@footer-bgColor--white: @base-white;

@footer-bgColor--gray: @bg-gray--light;

@footer-bgColor--black: rgba(17, 17, 17, 0.75);

@footer-color: @base-black;

/*
** FLOAT COMPONENT
*/

@floatContent-bg: url('../assets/image/floatWindowBg.png') top 12% center / 100%
  100%;

@floatPanel-bg: transparent;

@loadingBar-loading-bg: @primary-color--light;

.login_guestRegisterBtn-override {
  min-height: 2rem;
  min-width: 7rem;
  color: #efe87a;
  border: 1px solid #15084c;
  background: linear-gradient(
    to bottom,
    @primary-color--light 0%,
    @primary-color 50%,
    @primary-color--dark 100%
  );
}
.login-button-override {
  float: none;
  min-height: 2rem;
  min-width: 7rem;
  color: @base-white;
  border: 1px solid #15084c;
  box-shadow: 1px 3px 12px 1px @base-black;
  background: radial-gradient(
    ellipse at center,
    @accent-color--light 0%,
    @accent-color 50%,
    @accent-color--dark 100%
  );
}
.pageLoading_Loading_override {
  -webkit-box-shadow: 2px 2px 2px #080819;
  box-shadow: 2px 2px 2px #080819;
}
