@import './common.less';

@profile-quickAccessBar-fontSize: 12px;

@profile-btn-bg-active: #66408d;

@profile-gradient-start: #b60000;
@profile-gradient-end: #d23f3f;
@profile-button-color: #f10219;
@profile-button-text-color: #ffffff;
@profile-title-color: #ff6f7d;
@profile-body-color: #f10219;
