@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: auto;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: #ff8000;

@card-navBtn-bgColor: transparent;

@card-searchInputOuter-borderColor: #ff8000;

@card-category-borderColor: #ff8000;

@card-category-bgColor: #fff;

@card-catalogueName-color: #000;

@card-searchInputInner-bgColor: #fff;

@card-buttonSearch-bgColor: #fff;
