@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: auto;

@fishingPage-title: url('../assets/image/fishing/bg-fishing-header.png') center /
  cover no-repeat;

@fishing-topWord-borderBottom: #ff8000;

@fishing-navBtn-bgColor: transparent;

@fishing-searchInputOuter-borderColor: #ff8000;

@fishing-category-borderColor: #ff8000;

@fishing-category-bgColor: #fff;

@fishing-catalogueName-color: #000;

@fishing-searchInputInner-bgColor: #fff;

@fishing-buttonSearch-bgColor: #fff;
