@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: url('../assets/image/homepage-bgxxcp.png') black;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;
