@sportPage-bg: url('../assets/image/sports/sportsBgxxcp.png') center / cover
  no-repeat fixed;

@sportsPage-wording: none;

@sport-bottom-left: none;

@sport-bottom-right: none;

@sport-min-pageHeight: 43rem;

@sports-items-content-margintop: 16px;
