@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: auto;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: @first-dsf-color;

@card-navBtn-bgColor: transparent;

@card-searchInputOuter-borderColor: @first-dsf-color;

@card-category-borderColor: @first-dsf-color;
