@import './common.less';
@import './base.less';

@navigation-bg: transparent;

@navigation-color--disable: @primary-color--dark;

/*
** HOME_PAGE COMPONENT
*/
@home-content--min-height: 70.25vh;

@home-background: url('../assets/image/homepage-bgxxcp.png') black;

@featured-item-bgColor: @primary-color;

.navigation__selected {
  &::after {
    content: unset;
  }
}

@homepage-border-color: @first-dsf-color;

@homepage-title-display: none;

@homepage-imageContent-display: none;

@homePage-imageBtn-transform: none;

@homePage-image-borderRadius: 0;

@homePage-banner-border: url('../assets/image/landing/bannerBorder.png');
