@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: url('../assets/image/games/gamesBg.png') center / cover no-repeat
  fixed;

@gamePage-title: none;

@gamePage-title-height: 50px;

@gamePage-padding-top: 0;
