@sportPage-bg: url('../assets/image/sports/sportsBg.jpg') center / cover
  no-repeat fixed;

@sportsPage-wording: url('../assets/image/sports/bg-sports-word.png') center
  no-repeat;

@sport-bottom-left: url('../assets/image/sports/side-left.png') left no-repeat;

@sport-bottom-right: url('../assets/image/sports/side-right.png') right
  no-repeat;
