@import './common.less';

/*
** BET_CENTER COMPONENT
*/
@betCenter-bg: url('../assets/image/bet/betBg.png') top center no-repeat;

@betCenter-logo-bg: @base-white;

// betcenter header

@betCenter-header-bg: transparent;

@betCenter-collapseIcon-color: @base-white;

@betCenter-header-color: @base-white;

@betCenter-headerLink-color: #2087e8;

// betcenter sidenav
@betCenter-sideNav-header-height: @size-9;

@betCenter-sideNav-collapseToggle-size: @size-7;

@betCenter-sideNav-padding: @size-3;

@betCenter-sideNav-menuItem-height: @button-height + @size-3;

@betCenter-sideNav-subMenuItem-bg: #fe7d09;

@betCenter-sideNav-subMenuItem-bg--hover: @primary-color--light;

@betCenter-sideNav-subMenuItem-color--hover: @base-white;

@betCenter-sideNav-subMenuItem-bg-before: #f1f1f1;

@betCenter-sideNav-subMenuItem-color: @base-black;

@betCenter-sideNav-subMenuItem-color-hover: @base-white;

@betCenter-sideNav-menu-bg: @base-white;

@betCenter-sideNav-menu-color: @base-black;

@betCenter-sideNav-bg: #e3e3ec;

@betCenter-sideNav-color: @base-black;

@gameboard-sectionLabel-bg: #53af23;

@betCenter-sideNav-subMenuItem-first-bg: #424350;

@betCenter-sideNav-subMenuItem-first-color: rgba(255, 255, 255, 0.4);

@betCenter-sideNav-subMenuItem-first-bg-active: #424350;

@betCenter-sideNav-subMenuItem-first-color-active: rgba(255, 255, 255, 0.4);

@betCenter-sideNav-subMenuItem-first-bg-hover: #eeedf2;

@betCenter-sideNav-subMenuItem-first-color-hover: @base-white;

@betCenter-sideNav-backToAllBtn-bg--active: @primary-color--light;

@betCenter-sideNav-backToAllBtn-bg--hover: @primary-color--light;

// betcenter nav

@betCenter-nav-bg: #2087e8;

@betCenter-nav-bg--active: #146dc1;

@betCenter-subNav-bg: @base-white;

@betCenter-subNav-bg--active: @primary-color--light;

// betcenter calulator
@betCenter-cal-bg: #e3e3ec;

@betCenter-cal-color: #707188;

@betCenter-cal-radius: 0;

@betCenter-cal-unit-btn-bg: #b5b5b5;

@betCenter-calUnitBtn-color: @base-black;

@betCenter-calUnitBtn-bg--active: @primary-color--light;

@betCenter-calUnitBtn-color--active: @base-white;

@betCenter-cal-clear-btn-bg: #f40;

@betCenter-calBtn-bg: #2087e8;

@betCenter-calBtn-color: @base-white;

@betCenter-calBorder-color: @indicate-color;

@betCenter-calInput-bg: @base-white;

@betCenter-calInput-color: @base-black;

@betCenter-calInput-borderColor: @base-white;

@betCenter-cal-ctrlAddBtn-bg: #f8a600;

@betCenter-cal-ctrlAddBtn-color: @base-white;

// betcenter cart
@betCenter-cart-bg: darken(@bg-gray--light, 5%);

@betCenter-cartHeader-bg: rgba(0, 0, 0, 0.2);

@betCenter-cartHeader-color: @base-white;

@betCenter-cart-color: @text-color;

@betEntrance-headline-color: @base-white;

// betcenter ratio ctrl
@betCenter-ratioCtrl-content-bg: @base-white;

@betCenter-ratioCtrl-content-color: #2087e8;

@betCenter-ratioCtrl-label-bg: #2087e8;

@betCenter-ratioCtrl-label-border: #2087e8;

@betCenter-ratioCtrl-input-bg: #2087e8;

@betCenter-ratioCtrl-input-color: @base-white;

@betCenter-ratioCtrl-inputValueIndicator-bg: #2087e8;

@betCenter-ratioCtrl-inputValueIndicator-highlight-bg: @primary-color--light;

@betCenter-ratioCtrl-inputValueIndicator-hasValue-bg: @base-white;

/*
** COMPONENTS
*/
@lottery-bgColor--default: @primary-color--light;
@lottery-bgColor--red: @primary-color;

// betcenter action btn
// @betCenter-actionBtn-color: @base-white;
// @betCenter-actionBtn-color-hover: @base-white;
// @betCenter-actionBtn-color-disabled: lighten(@primary-color, 35%);
// @betCenter-actionBtn-bg-outer: #a12133;
// @betCenter-actionBtn-bg: @primary-color;
// @betCenter-actionBtn-bg-top: linear-gradient(
//   to bottom,
//   @primary-color--dark 0%,
//   lighten(@primary-color--dark, 15%) 51%,
//   @primary-color--dark 100%
// );

// @betCenter-actionBtn-bg-bottom: linear-gradient(
//   to bottom,
//   @primary-color--dark 0%,
//   lighten(@primary-color--dark, 15%) 51%,
//   @primary-color--dark 100%
// );

// betcenter history
@betCenter-game-history-td--even: #e2e2e2;

@betCenter-game-history-header-bg: #2087e8;

@betCenter-game-history-header-color: @base-white;

/*
** CIRCULAR_PROGRESS_BAR COMPONENT
*/
@circularBar-track-color: #2087e8;

@circularBar-progress-color: @primary-color;

@circularBar-track-text-color: #2087e8;

/*
** BET_ENTRANCE COMPONENT
*/
@betEntrance-btn-color: #2087e8;

@betEntrance-gradient--btn: #2087e8;

@betEntrance-gradient--card: #2087e8;

@betEntrance-gameSubnav--btn-bg: @base-white;

/*
** Overrides
*/
.gameboard_btn_override {
  background: @base-white;
  color: @base-black;
  border: 1px solid #ccc;
  &:hover {
    background: @primary-color--light;
    color: @base-white;
    border: 1px solid @primary-color--light;
    box-shadow: inherit;
  }
  &[data-active='true'] {
    background: #2087e8;
    color: @base-white;
    border: 0;
    // box-shadow: @shadow-dp2--inset;
  }
}
.gameboard_ctrlBtn_override {
  background: linear-gradient(
    to bottom,
    #e2e2e2 0%,
    #f1f1f1 50%,
    #e2e2e2 51%,
    #fff 100%
  );
  color: @text-color;
  border: 0;
  box-shadow: @shadow-dp2;
  &:hover {
    background: @primary-color--light;
    color: @base-white;
    border: 0;
    box-shadow: @shadow-dp2--inset;
  }
  &[data-active='true'] {
    background: #2087e8;
    color: @base-white;
    border: 0;
    box-shadow: @shadow-dp2--inset;
  }
}
.gameHeader_openNumber_override {
  background-color: @primary-color;
  background-image: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
