@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: url('../assets/image/fishing/fishingBg.png') top center / cover
  no-repeat fixed;

@fishingPage-title: url('../assets/image/fishing/fishingTopWord.png') top center /
  contain no-repeat;

@fishingPage-padding-top: 0;

@fishingPage-title-height: 350px;
