@import '../../general.less';
@import './base.less';

/** Login & Register Button **/
@betcenter-login-button-color: @first-dsf-color;
@login-button-color: @first-dsf-color;
@login-button-color-hover: @first-dsf-color;
@login-button-word-color: @login-register-toptray-navigation-button;
@login-button-border: none;

@betcenter-register-button-color: @second-color;
@register-button-color: @login-register-toptray-navigation-button;
@register-button-border: @second-color;
@register-button-color-hover-border: @second-color;
@register-button-color-hover: @second-color;

@betcenter-register-button-color-hover: @login-register-toptray-navigation-button;

/** Navigation **/
@navigation-color-active: #fffa6b;
@navigation-color-header: @login-register-toptray-navigation-button;
@navigation-color-disable: @login-navigation-hover-disabled;

@navigation-button-fontSize-header: 1rem;
@navigation-background: transparent;
@subNavList-color: rgba(0, 0, 0, 0.7);

@betNavigationContentColor: @betPopOverContent;
@betNavigationContentShadow: @betPopOver-shadow-border;
@betNavigationBackground: @betPopOverTitle-background;
@betTitleBackgroundColor: @betPopOverTitle-background;
@betTitleShadow: @betPopOver-shadow-border;
@betTitleColor: @betPopOverTitle-hover;
@betNavigationContentBorder: @betPopOver-shadow-border;
@betHoverContent: @betPopOverTitle-hover;

/** UserQuickAccessBar **/
@quickAccessBar: 0.75rem;
@quickAccessBar-button-height: 2rem;
@profile-quickAccessBar-color: inherit;
@profile-quickAccessBarIcon-color: inherit;
@profile-label-color--disabled: @toptraylink-useraccessbarlabeldisabled;

/** Quick money **/
@navigation-betcenter-button-background: @first-dsf-color;
@navigation-betcenter-button: @login-register-toptray-navigation-button;
@navigation-betcenter-button-hover: @first-dsf-color;

/** TopTray **/
@topTray-background-color: #581200;
@topTray-color: @login-register-toptray-navigation-button;
@toptray-header-link: @toptraylink-useraccessbarlabeldisabled;
