@sportPage-bg: url('../assets/image/sports/sportsBg.png') center / cover
  no-repeat fixed;

@sport-bottom-left: url('../assets/image/sports/side-left.png') left no-repeat;

@sport-bottom-right: url('../assets/image/sports/side-right.png') right
  no-repeat;
