/////////////////////MAIN COLOR///////////////////////////
@first-color: #0f95f6;
@hover-color: rgba(0, 0, 0, 0.5);

///////////////////STATUS INDICATOR COLOR////////////////
@error-color: #cb3f53;
@correct-color: #2ecc71;

///////////////////FONT COLOR///////////////////////////
@main-regular-color: #000000;
@sub-regular-color: #666666;
@disabled-color: #d3d4d5;
@special-color: #d2d2d2;

//////////////////LOTTERY BALLS COLOR///////////////////
@main-ball-color: #e75167;
@red-ball-color: #cd3641;
@green-ball-color: #66bb6a;
@blue-ball-color: #64b5f6;
@not-chosen-ball-color: #f4f4f4;
@announcement-ball-color: #b2b2b2;

/////////////////BACKGROUND COLOR/////////////////////
@common-background-color: #ffffff;
@common-background-line-color: #f4f4f4;
@common-table-color: #f8f8f8;

///////////////////SPECIAL COLOR//////////////////////
@betcenter-sidelabel-color: #b2b2b2;
@toptray-background-color: #818181;
@toptray-color: #ffffff;
@announcement-color: #ffedd1;

/////////////////BUTTON COLOR////////////////////////
@button-color: #ffffff;
@button-background-color: #ffffff;
@button-hover-color: rgba(0, 0, 0, 0.7);
@subbutton-color: #feab59;
@subbutton-hover-color: #eb943d;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////SHARED VARIABLES BETWEEN DSF AND BASE//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
