@import './common.less';

@sportPage-bg: transparent;

@sportsPage-wording: none;

@sport-bottom-left: none;

@sport-bottom-right: none;

@sport-min-pageHeight: 43rem;

@sports-items-content-margintop: 16px;

@sports-bg-noHeader: url('../assets/image/sports/sportsBg779.png') center
  no-repeat;
