@import '~clientResolver/index.less';

article {
  background-image: url('../../assets/image/mobileSite/mobileBgxxcp.png');
  background-repeat: no-repeat;
  min-width: @page-width;
  background-size: cover;
}

.container__flex {
  position: relative;
  width: @page-width;
  height: 650px;
  margin: auto;
}

.introBox {
  position: absolute;
  top: 5%;
  right: 0;
  color: @base-white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .intro {
  }
}

.text {
  letter-spacing: calc(@size-0 / 3);
  text-align: center;

  > * {
    display: block;
  }
}

.phoneBox {
  position: absolute;
  top: 16%;
  left: -25%;
}

.container__flexVertical {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 30px;

  a {
    margin-bottom: 20px;
  }

  div {
    width: ~'calc(100% - 8px)';
    margin: auto;
  }
}

.QRBottom_desc {
  color: @base-white;
  font-size: @size-3;
  letter-spacing: 2px;
  padding-top: @size-5;
}

.qrGroup {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
