///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: linear-gradient(to bottom, #a2527b, #451e56);
@second-color: #efe87a;

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-register-toptray-navigation-button: white;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@login-navigation-hover-disabled: #b20000;
@betPopOverTitle-hover: #efe87a;
@betPopOverTitle-background: rgba(0, 0, 0, 0.8);
@betPopOver-shadow-border: rgba(255, 255, 255, 0.2);
@betPopOverContent: #ffffff;

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #efe87a;
