@import './common.less';

/*
** HOME_PAGE COMPONENT
*/
@home-background: url('../assets/image/background.png') no-repeat center;

@header-bg: url('../assets/image/header_bg.png');

@navigation-bg: url('../assets/image/navigation-bg.png') center / 120% 120%
  no-repeat;

@navigation-color--active: @primary-color--dark;
