@import './common.less';

@profile-quickAccessBarIcon-color: @primary-color;

@profile-login-bg: #106ddc;

@profile-login-color: @base-white;

@profile-primary-color: #106ddc;

@profile-quickAccessBarIcon-color: @base-white;

@profile-tableHeader-bg: #106ddc;
