@black: #333;
@red-0: #fa6966;
@red-1: #ff3527;
@red-2: #b00;
@red-3: #ae0110;
@red-4: #700202;
@red-5: #700;
@red-6: #5f0000;
@red-7: #410000;
@white: #fff;
@yellow-1: #f9fa4d;
@yellow-2: #feff4d;
@yellow-3: #ff0;
@yellow-4: #fffb00;
@yellow-5: #fedd6b;
@yellow-6: #ffcf08;
@brick-red: #af0012;
@dark-red: #5f0000;
@brown: #64241c;
@khaki: #feee92;
@beige: #f9f1f1;
@antique-white: #fbf3e3;
@milky: #fff3e7;
@pearl: #ede1d5;
@space: 1rem;
@col-2: (100% / 12) * 2;
@col-5: (100% / 12) * 5;
@col-6: (100% / 12) * 6;
@col-7: (100% / 12) * 7;
@contents-width: 960px;
@button-height: 2.125rem;
@background-1: rgba(0, 0, 0, 0.16);
@background-2: rgba(0, 0, 0, 0.34);
@table-border-color: rgba(0, 0, 0, 0.17);
