@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: auto;

@cardPage-title: url('../assets/image/cards/bg-cards-header.png') center / cover
  no-repeat;

@card-searchInputInner-bgColor: #fbf8ec;

@card-buttonSearch-bgColor: transparent;

@card-navBtn-bgColor: transparent;

@card-buttonTabOuter-bgColor: #fbf8ec;

@card-searchInputOuter-borderColor: @first-dsf-color;

@card-searchInputInnerPlaceHolder-color: @first-dsf-color;

@card-category-borderColor: @first-dsf-color;

@card-category-bgColor: #fbf8ec;

@card-navBtnColor: #ebbb7c;

@card-navBtnColor-hover: @first-dsf-color;
