@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: auto;

@fishingPage-title: url('../assets/image/fishing/bg-fishing-header.png') center /
  cover no-repeat;

@fishing-searchInputInner-bgColor: #fbf8ec;

@fishing-buttonSearch-bgColor: transparent;

@fishing-navBtn-bgColor: transparent;

@fishing-buttonTabOuter-bgColor: #fbf8ec;

@fishing-searchInputOuter-borderColor: @first-dsf-color;

@fishing-searchInputInnerPlaceHolder-color: @first-dsf-color;

@fishing-category-borderColor: @first-dsf-color;

@fishing-category-bgColor: #fbf8ec;

@fishing-navBtnColor: #ebbb7c;

@fishing-navBtnColor-hover: @first-dsf-color;
