@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: auto;

@gamePage-title: url('../assets/image/games/bg-game-header.png') center / cover
  no-repeat;

@game-searchInputInner-bgColor: #fbf8ec;

@game-buttonSearch-bgColor: transparent;

@game-navBtnbgColor: transparent;

@game-buttonTabOuter-bgColor: #fbf8ec;

@game-searchInputOuter-borderColor: @first-dsf-color;

@game-searchInputInnerPlaceHolder-color: @first-dsf-color;

@game-category-borderColor: @first-dsf-color;

@game-category-bgColor: #fbf8ec;

@game-navBtnColor: #ebbb7c;

@game-navBtnColor-hover: @first-dsf-color;
