@import './common.less';

// @promotion-bg: #a50b03 url('../assets/image/promotion_bg.jpg') no-repeat bottom
//   center;

@promotion-bg: url('../assets/image/homepage-bg.png') black;

@promotion-header-bg: transparent;

@promotions-sideBarBtn-color: #000000;

@promotions-sideBarBtn-color-active: @first-dsf-color;

@promotions-sideBar-bgColor: #fff;

@promotions-item-borderColor: @first-dsf-color;
