@import '~styles/layout.less';
@import './index.less';

.image_container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .image {
    max-width: 100%;
    max-height: 100%;
  }
}
