///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: #fff4b8;
@second-color: #000000;

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-border-toptray: transparent;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@login-register-toptray-navigation-button: #000000;
@login-navigation-hover-disabled: #b20000;
@header-path-background: url('../assets/image/header-bg.png') bottom no-repeat /
  cover;
@betPopOverTitle-hover: @first-dsf-color;
@betPopOverTitle-background: rgba(0, 0, 0, 0.8);
@betPopOver-shadow-border: rgba(255, 255, 255, 0.2);
@betPopOverContent: #fff4b8;

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #000000;
