@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: auto;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: #fff4b8;

@card-navBtn-bgColor: transparent;

@card-searchInputOuter-borderColor: #fff4b8;

@card-category-borderColor: #fff4b8;

@card-searchInputInner-bgColor: #2b0e0f;

@card-buttonSearch-bgColor: #2b0e0f;
