@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: auto;

@gamePage-title: url('../assets/image/games/bg-game-headerxxcp.png') center /
  cover no-repeat;

@games-topWord-borderBottom: #fff4b8;

@game-navBtnbgColor: transparent;

@game-searchInputOuter-borderColor: #fff4b8;

@game-category-borderColor: #fff4b8;

@game-searchInputInner-bgColor: #2b0e0f;

@game-buttonSearch-bgColor: #2b0e0f;
