@import './base.less';

// @promotion-bg: #a50b03 url('../assets/image/promotion_bg.jpg') no-repeat bottom
//   center;

@promotion-bg: url('../assets/image/promotion/promotion-bgxxcp.jpg') top center /
  cover no-repeat;

@promotion-header-bg: url('../assets/image/header-bg.png') top center / cover
  no-repeat;

@promotions-sideBar-borderColor: #fff4b8;

@promotions-sideBarBtn-color: #666;

@promotions-sideBarBtn-color-active: @first-dsf-color;
