///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: #f70000;
@second-color: #f87657;

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-border-toptray: transparent;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@login-register-toptray-navigation-button: #fff;
@login-navigation-hover-disabled: #b20000;
@header-path-background: url('../assets/image/header-bg.png') bottom no-repeat /
  cover;
@betPopOverTitle-hover: @first-dsf-color;
@betPopOverTitle-background: rgba(241, 2, 25, 0.2);
@betPopOver-shadow-border: rgba(255, 255, 255, 0.2);
@betPopOverContent: #f70000;

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #fff;
