@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: url('../assets/image/cards/cardPageBgxxcp.jpg') top center / cover
  no-repeat fixed;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: #f70000;

@card-navBtn-bgColor: transparent;

@card-searchInputOuter-borderColor: #f70000;

@card-category-borderColor: #f87657;

@card-searchInputInner-bgColor: rgba(255, 255, 255, 0.5);

@card-buttonSearch-bgColor: rgba(255, 255, 255, 0.5);
