@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: auto;

@fishingPage-title: url('../assets/image/fishing/bg-fishing-header.png') center /
  cover no-repeat;

@fishing-topWord-borderBottom: #f70000;

@fishing-navBtn-bgColor: transparent;

@fishing-searchInputOuter-borderColor: #f70000;

@fishing-category-borderColor: #f87657;

@fishing-searchInputInner-bgColor: rgba(255, 255, 255, 0.5);

@fishing-buttonSearch-bgColor: rgba(255, 255, 255, 0.5);
