@import '../../general.less';
@import './base.less';

/** Login & Register Button **/
@betcenter-login-button-color: #f70000;
@login-button-color: #f70000;
@login-button-color-hover: #f70000;
@logins-button-color-hover: #f70000;
@login-button-word-color: @login-register-toptray-navigation-button;
@login-button-border: @login-border-toptray;
@logins-button-color: #f70000;
@logins-button-color-hover: #f70000;
@logins-button-border: #fff;

@betcenter-logins-button-color: #f70000;
@betcenter-register-button-color: none;
@register-button-color: #f70000;
@register-button-border: #f70000;
@register-button-color-hover-border: none;
@register-button-color-hover: #f70000;

@betcenter-register-button-color-hover: #fff;

/** Navigation **/
@navigation-color-active: @first-dsf-color;
@navigation-color-header: #f70000;
@navigation-color-disable: @login-navigation-hover-disabled;
@navigation-color-active-item: #f70000;

@navigation-button-fontSize-header: 1rem;
@navigation-background: transparent;
@subNavList-color: #fff;

@betNavigationContentColor: @betPopOverContent;
@betNavigationContentShadow: @betPopOver-shadow-border;
@betNavigationBackground: #fff;
@betTitleBackgroundColor: @betPopOverTitle-background;
@betTitleShadow: @betPopOver-shadow-border;
@betTitleColor: @betPopOverTitle-hover;
@betNavigationContentBorder: @betPopOver-shadow-border;
@betHoverContent: @betPopOverTitle-hover;

@cards-color: @header-path-background;
@games-color: @header-path-background;
@sports-color: @header-path-background;
@realis-color: @header-path-background;

/** UserQuickAccessBar **/
@quickAccessBar: 0.75rem;
@quickAccessBar-button-height: 2rem;
@profile-quickAccessBar-color: inherit;
@profile-quickAccessBarIcon-color: inherit;
@profile-label-color--disabled: @toptraylink-useraccessbarlabeldisabled;
@quickAccessBarBtnWelcome-color: #f70000;
@quickAccessBarBtnMsg-color: #f70000;

/** Quick money **/
@navigation-betcenter-button-background: #f87657;
@navigation-betcenter-button: @login-register-toptray-navigation-button;
@navigation-betcenter-button-hover: #f70000;

/** TopTray **/
@topTray-background-color: @login-border-toptray;
@topTray-color: #f70000;
@toptray-header-link: @toptraylink-useraccessbarlabeldisabled;
@header-topTrayLink: #f70000;

// Quick Access Bar Button Chat
@quick-access-bar-btn-chat-color: #f70000;
@quick-access-bar-btn-chat-border-color: #f70000;
