@import '~clientResolver/index.less';

article {
  background-image: url('../../assets/image/mobileSite/bg.png');
  background-repeat: no-repeat;
  min-width: @page-width;
  background-size: cover;
  height: 100%;
}
.container__content {
  color: @base-white;
  overflow: auto;
}
.container__flex {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: @page-width;
  margin: @size-7 auto;
}
.description {
  margin: 0 @size-8;
}
.introBox {
  margin-top: @size-7;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: inherit;
}
.intro {
  margin-bottom: @size-3;
  position: relative;
  display: inline-block;

  span {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: auto;
    left: -@size-4;
    right: -@size-4;
    top: 0;
    z-index: 0;
    transform: skew(-45deg, 0);
  }
}
.text {
  letter-spacing: calc(@size-0 / 3);
  text-align: center;
  > * {
    display: block;
  }
}
.container__flexVertical {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.downloadBtn {
  background-color: @base-white;
  border-radius: 100px;
  margin: @size-2 0;
  padding: @size-1 @size-6;
  font-size: @size-4;
  text-align: center;
  & span {
    vertical-align: middle;
    font-size: inherit;
  }
  & [class*='mdi-'] {
    vertical-align: middle;
    padding-right: @size-0;
    font-size: 1.25em;
  }
  &:focus {
    text-decoration: none;
  }
  &[data-platform='ios'] {
    color: @primary-color;
  }
  &[data-platform='android'] {
    color: @accent-color;
  }
  &:hover {
    color: @base-white;
    background-color: @primary-color;
  }
}
.downloadBtnIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25em;
}
.QRBottom_desc {
  font-size: @size-3;
  letter-spacing: 2px;
  padding-top: @size-5;
}
.box__desc {
  align-items: flex-start;
  border: 1px solid transparent;
  display: flex;
  padding: @size-3;
  & img {
    height: calc(@size-7 + @size-3);
    margin: @size-0;
    width: calc(@size-7 + @size-3);
  }
  & p {
    max-width: calc(@size-8 + @size-8 + @size-0);
  }
  & p * {
    display: block;
    margin: 0;
  }
  & p span:first-child {
    font-weight: bolder;
    font-size: @size-4;
  }
}
.group {
  padding-bottom: @size-7;
  padding-top: 0;
  display: inline-flex;
  > * {
    margin: @size-1 @size-3;
  }
  & .downloadBtn {
    min-width: 220px;
  }
}
