@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: none;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: #fdf6c6;

@card-navBtn-bgColor: transparent;

@card-searchInputOuter-borderColor: #fdf6c6;

@card-category-borderColor: #fdf6c6;
