@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: none;

@fishingPage-title: url('../assets/image/fishing/bg-fishing-header.png') center /
  cover no-repeat;

@fishing-topWord-borderBottom: #fdf6c6;

@fishing-navBtn-bgColor: transparent;

@fishing-searchInputOuter-borderColor: #fdf6c6;

@fishing-category-borderColor: #fdf6c6;
