@import '~styles/layout.less';
@import '../ProfileTable.less';

.cashFlowList_filter {
  .clearfix;

  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
  text-align: left;
  font-size: @size-2;
  line-height: @size-2;
  [class='ant-input'] {
    padding: 0;
  }
  [class*='ant-calendar-range-picker-separator'],
  [class*='ant-calendar-range-picker-input'] {
    vertical-align: middle;
  }
}
.cashFlowList_gamePlatformTab {
  width: @size-8;
  height: 2.5rem;
  border-color: @primary-color--light;
  border-style: solid;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: @first-color;
  color: @base-white;
  font-size: @size-1;
  vertical-align: middle;
  &:not(:only-child) {
    &:not(:first-child) {
      border-top-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
    }
  }
  &:not(:last-child) {
    border-right-width: 1px;
  }
  &:hover {
    background-color: @primary-color--light;
  }
  &[data-active='true'] {
    background-color: @primary-color--dark;
  }
}

.cashFlowList_gamePlatformTabOuter {
  display: inline-block;
  border-bottom: 1px solid @primary-color--light;
}

.cashFlowList_value {
  color: inherit;
  &[data-color='blue'] {
    color: @info-color;
  }
  &[data-color='red'] {
    color: @alert-color;
  }
  &[data-color='green'] {
    color: @success-color;
  }
}
.cashFlowList_betlogDetailsLabel {
  width: 3rem;
}
.cashFlowList_betlogDetailsValue {
  width: 20rem;
}
.cashFlowList_detailsBtn {
  color: @first-color;
  i {
    font-size: @size-2;
  }
}
.cashFlowList_betlogDetailsModal {
  [class*='ant-modal-close-x'] {
    margin: @size-0 @size-0;
    color: @base-white;
    font-size: @size-1;
  }
}
.cashFlowList_betlogDetailsPagination {
  margin-top: @size-3;
  text-align: right;
}
.cashFlowList_mainTable {
  width: 100%;
  [class*='ant-table'] table {
    border-radius: 0;
  }
  [class*='ant-table-tbody'] {
    [class*='ant-table-row'] {
      &:hover {
        background-color: @base-white;
      }
    }
  }
  [class*='ant-table-row'] {
    background-color: @base-white;
    &:hover {
      td {
        background-color: @base-white;
      }
    }
  }
  [class*='ant-table-expanded-row'] {
    background-color: @bg-gray--light;
    &:hover {
      [class*='ant-table-body'] td {
        background-color: @base-white;
      }
      td {
        [class*='ant-table-expanded-row'] {
          td {
            background-color: @bg-gray--light;
          }
        }
        [class*='ant-table-row'] {
          td {
            background-color: @base-white;
          }
        }

        background-color: @bg-gray--light;
      }
    }
  }
  [class*='ant-pagination'][class*='ant-table-pagination'] {
    .profile_tablePagination;
  }
}
.cashFlowList_modalClose {
  margin-bottom: @size-5;
}
.cashFlowList_mainTableOuter {
  margin: 0 0 0 0;
  [class*='ant-table-tbody'] tr td {
    text-align: left;
  }
  [class*='ant-table-thead'] tr th {
    text-align: left;
  }
}
.cashFlowList_tablePopUp {
  max-height: 35rem;
}
.cashFlowList_columnTitle {
  .profile_columnTitle;
}
.cashFlowList_columnAmount {
  .profile_columnAmount;
}
.cashFlowList_mediumLong {
  .profile_columnMediumLong;
}
.cashFlowList_medium {
  .profile_columnMedium;
}
.cashFlowList_mediumShort {
  .profile_columnShortMedium;
}
.cashFlowList_long {
  .profile_columnLong;
}
.cashFlowList_extraLong {
  .profile_columnExtraLong;
}
.cashFlowList_short {
  .profile_columnShort;
}
.cashFlowList_sportGameDescription {
  .profile_columnSportsGameDescription;
}
.cashFlowList_bold {
  .profile_columnBold;
}
.cashFlowList_status {
  &[data-color='green'] {
    color: @success-color;
  }
  &[data-color='red'] {
    color: @alert-color;
  }
}
.cashFlowList_columnDetailBtn {
  min-width: 5rem;
}
.cashFlowList_searchInput {
  display: flex;
  // margin: 0 0 0 @size-6;
  margin: 0 0 0 3.3rem;
  border-radius: 0.3rem;
  span {
    padding-top: @size-0;
  }
  input {
    width: 12.5rem;
    height: 2rem;
    margin-left: @size-0;
    border: 1px solid #d9d9d9;
    font-size: @size-2;

    &:hover {
      border: 1px solid @first-color;
    }
  }
}
.cashFlowList_searchInputClearBtn {
  visibility: hidden;
  margin: 0 0 @size-1 @size-0 / 2;
  font-size: @size-3;
  &[data-visible='true'] {
    visibility: visible;
    position: relative;
    right: 2rem;
    margin-top: 0.25rem;
  }
}

.cashFlowList_resultFilterOuter {
  display: flex;
  [class*='ant-select'][class*='ant-select-open'][class*='ant-select-focused'][class*='ant-select-enabled'] {
    border-color: @first-color;
  }
  [class*='ant-select-open'] {
    [class*='ant-select-selection'] {
      border-color: @first-color;
      -webkit-box-shadow: 0;
      box-shadow: 0;
      color: @first-color;
    }
  }
  [class*='ant-select-selection--multiple'] {
    [class*='ant-select-selection__clear'] {
      top: 9px;
    }
  }
  [class*='ant-select-selection'] {
    // height: 2rem;
    margin-left: 0.5rem;
    &:hover {
      border-color: @first-color;
    }
    &:active {
      border-color: @first-color;
    }
  }

  [class*='ant-select-selection--multiple'] {
    [class*='ant-select-selection__choice'] {
      // width: 4.5rem;
      height: 1.6rem;
      border: solid 0.01rem @first-color;
      background-color: @first-color;
      color: @base-white;
      text-align: center;
    }
  }
  span {
    padding-top: @size-0;
  }
  input {
    width: 10rem;
    height: 1.8rem;
    margin-left: @size-0;
    border: 1px solid #d9d9d9;
    font-size: @size-2;
  }
}
