@import './base.less';

// @promotion-bg: #a50b03 url('../assets/image/promotion_bg.jpg') no-repeat bottom
//   center;

@promotion-bg: url('../assets/image/promotion/promotion-bgxxcp.jpg') top center /
  cover no-repeat;

// @promotion-header-bg: linear-gradient(to bottom, #303030, #111111);

@promotions-sideBar-borderColor: #ffffff;

@promotions-sideBarBtn-color: @first-dsf-color;

@promotions-sideBarBtn-color-active: @first-dsf-color;
