@import '../../general.less';
@import './base.less';

/** Login & Register Button **/
@betcenter-login-button-color: #fdf6c6;
@login-button-color: #fdf6c6;
@login-button-color-hover: #fdf6c6;
@logins-button-color-hover: #fdf6c6;
@login-button-word-color: @login-register-toptray-navigation-button;
@login-button-border: @login-border-toptray;
@logins-button-color: #fdf6c6;
@logins-button-color-hover: #fdf6c6;

@betcenter-logins-button-color: #fdf6c6;
@betcenter-register-button-color: none;
@register-button-color: #fdf6c6;
@register-button-border: #fdf6c6;
@register-button-color-hover-border: none;
@register-button-color-hover: #fdf6c6;

@betcenter-register-button-color-hover: #000000;

/** Navigation **/
@navigation-color-active: #fff;
@navigation-color-header: #ffffff;
@navigation-color-disable: @login-navigation-hover-disabled;
@navigation-color-active-item: #fff;

@navigation-button-fontSize-header: 1rem;
@navigation-background: transparent;
@subNavList-color: rgba(0, 0, 0, 0.7);

@betNavigationContentColor: @betPopOverContent;
@betNavigationContentShadow: @betPopOver-shadow-border;
@betNavigationBackground: @betPopOverTitle-background;
@betTitleBackgroundColor: @betPopOverTitle-background;
@betTitleShadow: @betPopOver-shadow-border;
@betTitleColor: @betPopOverTitle-hover;
@betNavigationContentBorder: @betPopOver-shadow-border;
@betHoverContent: @betPopOverTitle-hover;

@cards-color: @header-path-background;
@games-color: @header-path-background;
@sports-color: @header-path-background;
@realis-color: @header-path-background;

/** UserQuickAccessBar **/
@quickAccessBar: 0.75rem;
@quickAccessBar-button-height: 2rem;
@profile-quickAccessBar-color: inherit;
@profile-quickAccessBarIcon-color: inherit;
@profile-label-color--disabled: @toptraylink-useraccessbarlabeldisabled;
@quickAccessBarBtnWelcome-color: #fff;
@quickAccessBarBtnMsg-color: #fff;

/** Quick money **/
@navigation-betcenter-button-background: #fdf6c6;
@navigation-betcenter-button: @login-register-toptray-navigation-button;
@navigation-betcenter-button-hover: #fdf6c6;

/** TopTray **/
@topTray-background-color: @login-border-toptray;
@topTray-color: #fff;
@toptray-header-link: @toptraylink-useraccessbarlabeldisabled;
@header-topTrayLink: #fff;
