@import './base.less';

// @promotion-bg: #a50b03 url('../assets/image/promotion_bg.jpg') no-repeat bottom
//   center;

@promotion-bg: auto;

@promotion-header-bg: auto;

@promotions-sideBar-borderColor: @first-dsf-color;

@promotions-sideBar-bgColor: #5e0e00;

@promotions-sideBarBtn-color: #fff;

@promotions-sideBarBtn-color-active: #fff;
