@import '~clientResolver/index.less';

.promotions_banner {
  background-color: @base-white;
  width: 100%;
  overflow: hidden;
  padding-top: @banner-height;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1920px 300px;
  background-color: @common-background-line-color;
}
.promotions_sideBar {
  border-radius: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  flex: none;
  margin-right: none;
  background-color: @button-color;
  box-shadow: none;
  background: none;
  border-bottom: 1px solid @common-background-line-color;
  margin-top: 8px;
  margin-bottom: 8px;
}

.promotions_sideBarBtn {
  &:not(:first-child) {
    border-left: 1px solid @common-background-line-color;
  }

  color: @main-regular-color;
  padding: 0 16px;
  margin: 10px 0;
  position: relative;
  display: inline-block;
  height: 20px;
  min-width: 100px;
  font-weight: bold;
  &[data-active='true'] {
    background-color: @button-color;
    color: @first-color;
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      top: 28px;
      background-color: @first-color;
    }
  }
}

.promotions_body {
  max-width: 58rem;
  margin: 0 auto;
  background-color: @common-background-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.promotions_contentColumn {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  max-width: 55rem;
  margin: 0 auto;
}

.promotions_item {
  margin-bottom: @size-3;
}

.promotions_itemImage {
  background-color: @base-white;
  background-size: cover;
  background-position: top center;
  cursor: pointer;
  user-select: none;
  width: 100%;
  padding-top: 220px;
  overflow: hidden;
}

.promotions_itemContent {
  background-color: @base-white;
  max-height: initial;
  overflow: hidden;
  width: 100%;

  &[data-expanded='false'] {
    max-height: 0;
    will-change: scroll-position;
  }
}

.promotions_itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: @size-0 @size-3;
  border-bottom: 1px solid @border-color--light;
}

.promotions_itemTitle {
  font-size: @size-4;
  color: @text-color;
}

.promotions_itemDate {
  font-size: @size-2;
  color: @text-color--light;
  align-self: flex-end;
}

.promotions_itemHtml {
  padding: @size-0 @size-3;

  table {
    display: table;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid @border-color;
  }
  td {
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
  }
  img {
    max-width: 100%;
  }
  ul,
  ol {
    padding-left: @size-4;
    margin-bottom: @size-0;
  }
  ul {
    list-style: initial;
  }
  ol {
    list-style: decimal;
  }
  li {
    display: list-item;
  }
  p {
    margin-bottom: @size-0;
  }
  a {
    color: @primary-color;
    text-decoration: underline;
  }
}

.promotions_embed {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  border: 1px solid @common-background-line-color;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(9 / 16);
  }

  .promotions_embed_item {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 1%;
    position: absolute;
    top: 0;
    width: 98%;
  }
}

.loading {
  max-height: none !important;
}
