@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: auto;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: #e5e5e5;

@card-navBtn-bgColor: transparent;

@card-searchInputInner-bgColor: transparent;

@card-buttonSearch-bgColor: transparent;

@card-searchInputOuter-borderColor: #e5e5e5;

@card-category-borderColor: #e5e5e5;

@card-navBtnColor-hover: #e5e5e5;

@card-catalogueName-color: #e5e5e5;
