@import './common.less';

@profile-quickAccessBar-fontSize: 12px;

@profile-btn-bg-active: #66408d;

@profile-gradient-start: #663011;
@profile-gradient-end: #9b691b;
@profile-button-color: #ffc353;
@profile-button-text-color: #ffffff;
@profile-title-color: #ffc353;
@profile-body-color: #b18430;
