@font-face {
  font-family: 'iconfont';
  src: url('../assets/fonts/iconfont.eot');
  src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/iconfont.woff') format('woff'),
    url('../assets/fonts/iconfont.ttf') format('truetype'),
    url('../assets/fonts/iconfont.svg#iconfont') format('svg');
}

.iconFont {
  font-family: 'iconfont';
  // font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coin::before {
  &:extend(.iconFont);

  content: '\e608';
}
.icon-customer-service::before {
  &:extend(.iconFont);

  content: '\e609';
}
.icon-question::before {
  &:extend(.iconFont);

  content: '\e60a';
}
.icon-smiley::before {
  &:extend(.iconFont);

  content: '\e607';
}

.DICE_1::before {
  &:extend(.iconFont);

  content: '\e611';
}
.DICE_2::before {
  &:extend(.iconFont);

  content: '\e610';
}
.DICE_3::before {
  &:extend(.iconFont);

  content: '\e612';
}
.DICE_4::before {
  &:extend(.iconFont);

  content: '\e613';
}
.DICE_5::before {
  &:extend(.iconFont);

  content: '\e614';
}
.DICE_6::before {
  &:extend(.iconFont);

  content: '\e615';
}
.digital_num_0::before {
  .iconFont;

  content: '\e697';
}
.digital_num_1::before {
  .iconFont;

  content: '\e694';
}
.digital_num_2::before {
  .iconFont;

  content: '\e696';
}
.digital_num_3::before {
  .iconFont;

  content: '\e691';
}
.digital_num_4::before {
  .iconFont;

  content: '\e695';
}
.digital_num_5::before {
  .iconFont;

  content: '\e690';
}
.digital_num_6::before {
  .iconFont;

  content: '\e693';
}
.digital_num_7::before {
  .iconFont;

  content: '\e68f';
}
.digital_num_8::before {
  .iconFont;

  content: '\e68e';
}
.digital_num_9::before {
  .iconFont;

  content: '\e692';
}
.POKER_NUM_1::before {
  &:extend(.iconFont);

  content: '\e678';
}
.POKER_NUM_2::before {
  &:extend(.iconFont);

  content: '\e676';
}
.POKER_NUM_3::before {
  &:extend(.iconFont);

  content: '\e677';
}
.POKER_NUM_4::before {
  &:extend(.iconFont);

  content: '\e67a';
}
.POKER_NUM_5::before {
  &:extend(.iconFont);

  content: '\e675';
}
.POKER_NUM_6::before {
  &:extend(.iconFont);

  content: '\e679';
}
.POKER_NUM_7::before {
  &:extend(.iconFont);

  content: '\e67b';
}
.POKER_NUM_8::before {
  &:extend(.iconFont);

  content: '\e67c';
}
.POKER_NUM_9::before {
  &:extend(.iconFont);

  content: '\e67d';
}
.POKER_NUM_10::before {
  &:extend(.iconFont);

  content: '\e67e';
}
.POKER_NUM_11::before {
  &:extend(.iconFont);

  content: '\e67f';
}
.POKER_NUM_12::before {
  &:extend(.iconFont);

  content: '\e680';
}
.POKER_NUM_13::before {
  &:extend(.iconFont);

  content: '\e681';
}
.POKER_NUM_100::before {
  &:extend(.iconFont);

  content: '\e682';
}
.POKER_NUM_200::before {
  &:extend(.iconFont);

  content: '\e684';
}
.POKER_NUM_300::before {
  &:extend(.iconFont);

  content: '\e685';
}
.POKER_NUM_400::before {
  &:extend(.iconFont);

  content: '\e683';
}
.FIXED_BANK::before,
.BANK::before {
  &:extend(.iconFont);

  content: '\e60a';
}
.FIXED_JD::before,
.JD::before {
  &:extend(.iconFont);

  content: '\e687';
}
.FIXED_OTHER::before,
.OTHER::before {
  &:extend(.iconFont);

  content: '\e688';
}
.FIXED_THIRD_PARTY::before,
.THIRD_PARTY::before {
  &:extend(.iconFont);

  content: '\e686';
}
.FIXED_WX::before,
.WX_PUBLIC::before,
.WX::before {
  &:extend(.iconFont);

  content: '\e608';
}
.FIXED_ZHB::before,
.ZHB::before {
  &:extend(.iconFont);

  content: '\e609';
}
.FIXED_QQ::before,
.QQ::before {
  &:extend(.iconFont);

  content: '\e698';
}
