@import '~clientResolver/index.less';

.maintenanceBody {
  background: url('../assets/image/maintenanceBg.png') no-repeat;
  width: 1600px;
  height: 100%;
  background-position: top;
  margin: 0 auto;
}

.maintenanceContent {
  margin-top: 343px;
  margin-left: 60px;
  font-size: 20px;
  width: 500px;
  word-break: break-all;
  color: #848484;
  > span {
    display: block;
  }
  span:nth-child(1) {
    margin-bottom: 44px;
  }
}

.time,
.duration,
.contact {
  color: #355cc1;
  font-weight: bold;

  a {
    text-decoration: underline;
  }
}
