@import '~clientResolver/index.less';

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;

  .divider {
    background-color: #f6f6f6;
    height: 677px;
    width: 5px;
    margin-left: 35px;
    margin-top: 5px;
  }

  .transfer_form {
    position: relative;
    margin-left: 8px;

    .form_row {
      padding-bottom: 12px;
      display: flex;
      align-items: center;

      .select_box {
        [class*='ant-select-selection'] {
          height: 45px;
        }
      }
    }

    .form_item {
      width: 316px;
      padding-right: 10px;
      display: inline-block;

      .formItem_msg {
        display: inline-block;
        font-size: @size-1;

        .formItem_msgIcon {
          margin-top: -2px;
          font-size: @size-3;
          margin-right: 3px;
          vertical-align: text-bottom;
        }

        &[data-color='blue'] {
          color: @blue-1;
        }
        &[data-color='red'] {
          color: @red-1;
        }
        &[data-color='orange'] {
          color: @orange-1;
        }
        &[data-color='yellow'] {
          color: @yellow-1;
        }
        &[data-color='green'] {
          color: @green-1;
        }
      }
    }

    .convert_line {
      position: absolute;
      left: 310px;
      top: 20px;
      width: 41px;
      height: 59px;
      border-top: solid 1px #d0d0d0;
      border-right: solid 1px #d0d0d0;
      border-bottom: solid 1px #d0d0d0;
    }

    .convert_button {
      position: absolute;
      left: 332px;
      top: 29px;
      width: 37px;
      height: 38px;
      border-radius: 4px;
      border: solid 1px @profile-button-color;
      background-color: #fff;
      box-shadow: 0 0 0 3px #fff;
    }

    .svg_icon {
      svg {
        width: 23px;
        vertical-align: middle;

        path {
          fill: @profile-button-color;
          stroke: none;
        }
        rect {
          fill: @profile-button-color;
          stroke: none;
        }
        ellipse {
          fill: @profile-button-color;
          stroke: none;
        }
        circle {
          fill: @profile-button-color;
          stroke: none;
        }
      }
    }
  }

  .oneclick {
    .balance_div {
      margin-bottom: 14px;

      > * {
        vertical-align: middle;
      }

      .balance_label {
        display: inline;
      }

      .balance {
        display: inline;
        font-size: 18px;
        color: @profile-body-color;
        padding-left: 17px;
      }
    }

    .svg_icon {
      svg {
        width: 23px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    .refresh_button {
      .svg_icon;

      svg {
        width: 18px;
        transition: all 0.3s;

        path {
          fill: #bebebe;
          stroke: none;
        }
        rect {
          fill: #bebebe;
          stroke: none;
        }
        ellipse {
          fill: #bebebe;
          stroke: none;
        }
        circle {
          fill: #bebebe;
          stroke: none;
        }
      }

      &:hover {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .table_body {
      white-space: nowrap;

      td:first-child {
        text-align: left;
        padding-left: 19px;
      }

      .transferType {
        white-space: normal;
      }

      .balance_button {
        color: @profile-body-color;

        &:disabled {
          color: #d0d0d0;
        }
      }

      .transfer_button {
        color: @profile-body-color;
        text-decoration: underline;

        &:disabled {
          color: #d0d0d0;
        }
      }
    }
  }
}

.response_msg_popup {
  text-align: center;

  .svg_icon_done {
    svg {
      width: 41px;
      vertical-align: middle;

      path {
        fill: #3edd82;
        stroke: none;
      }
      rect {
        fill: #3edd82;
        stroke: none;
      }
      ellipse {
        fill: #3edd82;
        stroke: none;
      }
      circle {
        fill: #3edd82;
        stroke: none;
      }
    }
  }

  .title {
    font-size: 18px;
    margin: 19px 0;
  }

  .content {
    color: #828282;
  }

  .modal_button {
    border-radius: 4px;
    margin: 20px 5px 0;
    height: 32px;
  }

  .modal_cancelButton {
    .modal_button;

    background-color: #fff;
    color: @profile-button-color;
    border: 1px solid @profile-button-color;
    padding-left: 24px;
    padding-right: 24px;
  }

  .modal_submitButton {
    .modal_button;

    background-color: @profile-button-color;
    color: @profile-button-text-color;
    padding-left: 23px;
    padding-right: 23px;
  }
}
