@import '~clientResolver/index.less';

.option {
  display: block;
  text-align: left;
  width: 100%;
  line-height: @size-6;
  padding: 0 @size-0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 1px;
    left: @size-0;
    right: @size-0;
    bottom: 0;
    background-color: lighten(@gray-3, 15%);
  }

  &:hover {
    .option_name {
      color: @yellow-1;
    }
  }
}
.option_favicon {
  vertical-align: middle;
  margin-right: @size-0;
  line-height: 1;
}

.bankOption_dropdownlist {
  background-color: @base-white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: @shadow-dp4;
  color: @gray-2;
  display: block;
  font-size: @size-2;
  width: 100%;
  max-height: (@size-7 * 4);
  overflow-y: auto;
  position: absolute;
  z-index: 99;
}

.title_msg {
  margin-bottom: 20px;
}

.msg {
  color: #ffa626;
}

.bank_image {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-bottom: -5px;
}

.label {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 0;
  font-size: @size-2;
}

.textField_row {
  .textField {
    display: inline-block;
    padding: 8px;

    .highlight {
      font-size: 13px;
      margin-left: 16px;
      color: #ffa626;
    }
  }
}

.addNewVcWallet {
  color: @blue-1;
  font-size: 14px;
}
