@import '~clientResolver/index.less';

.content_box {
  padding: 21px;
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e0;

  .blue_label {
    color: @blue-1;
  }

  .orange_label {
    color: @orange-1;
  }

  .green_label {
    color: @green-1;
  }
}

.description {
  margin-bottom: 19px;
}

.info_section {
  font-size: 13px;
  color: #828282;

  .label_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px;
  }

  .label_user_info {
    display: flex;
    justify-content: space-between;
  }
}
