@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: auto;

@gamePage-title: url('../assets/image/games/bg-game-headerxxcp.png') center /
  cover no-repeat;

@games-topWord-borderBottom: #fec133;

@game-navBtnbgColor: transparent;

@game-searchInputOuter-borderColor: #fec133;

@game-category-borderColor: #fec133;

@game-category-bgColor: #fff;

@games-catalogueName-color: #000;

@game-searchInputInner-bgColor: #fff;

@game-buttonSearch-bgColor: #fff;
