/////////////////////////DSF////////////////////////
///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: @first-color;
@second-color: linear-gradient(270deg, #fec949 0, #feb505 50%, #ec9b31);

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-register-toptray-navigation-button: #000000;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@navigation-toptray: white;
@login-navigation-hover-disabled: #b20000;
@header-path-background: rgba(0, 0, 0, 0.7);
@betPopOverTitle-content-shadow: #000000;
@betPopOverBackground: #ffffff;
@betPopOverTitle-shadow-hover: #f10219;
@betPopOverTitleBackground: rgba(241, 2, 25, 0.2);
@betPopOver-border: rgba(0, 0, 0, 0.1);

/////////////////////BASE/////////////////////////////////
/////////////////////MAIN COLOR///////////////////////////
@first-color: #1676fa;
@hover-color: rgba(0, 0, 0, 0.5);

///////////////////STATUS INDICATOR COLOR////////////////
@error-color: #cb3f53;
@correct-color: #2ecc71;

///////////////////FONT COLOR///////////////////////////
@main-regular-color: #000000;
@sub-regular-color: #666666;
@disabled-color: #d3d4d5;
@special-color: #d2d2d2;

//////////////////LOTTERY BALLS COLOR///////////////////
@main-ball-color: #e75167;
@red-ball-color: #cd3641;
@green-ball-color: #66bb6a;
@blue-ball-color: #64b5f6;
@not-chosen-ball-color: #f4f4f4;
@announcement-ball-color: #b2b2b2;

/////////////////BACKGROUND COLOR/////////////////////
@common-background-color: #ffffff;
@common-background-line-color: #f4f4f4;
@common-table-color: #f8f8f8;

///////////////////SPECIAL COLOR//////////////////////
@betcenter-sidelabel-color: #b2b2b2;
@toptray-background-color: #818181;
@toptray-color: #ffffff;
@announcement-color: #ffedd1;

/////////////////BUTTON COLOR////////////////////////
@button-color: #ffffff;
@button-background-color: #ffffff;
@button-hover-color: rgba(0, 0, 0, 0.83);
@subbutton-color: #feab59;
@subbutton-hover-color: #eb943d;

/////////////////NOTICE PAGE////////////////////////
@notice-page-bg: none;
