@import './common.less';
@import '~currentClientDir/variable/common.less';

@cardPage-bg: url('../assets/image/cards/cardBg.png') top center no-repeat /
  100% fixed;

@cardPage-title: url('../assets/image/cards/bg-cards-words.png') center
  no-repeat;

@cardPage-title-height: 12.5rem;

@cardPage-padding-top: 11%;

@cardPage-placeholder-width: 180px;
@cardPage-placeholder-height: 180px;

/*
** POKER_CENTER COMPONENT
*/
@cardCenter-fontSize: 0.8rem;

@cardCenter-pending-logo: @pending-logo;

@card-navBtn-bg: @btn-bg;

@card-navBtn-border: @btn-bg;

@card-canvasCategory-bg: @primary-color;

@card-catalogueItem-bg: @primary-color;

@card-searchInputInner-color: @text-color;

@card-canvasImage-bg: @base-black;

@card-canvasImage-size: 125px 40px;

@card-searchInputInner-bgColor: rgba(0, 0, 0, 0.5);

@card-buttonSearch-bgColor: rgba(0, 0, 0, 0.5);

@card-navBtn-bgColor: #000000;

@card-buttonTabOuter-bgColor: transparent;

@card-searchInputOuter-borderColor: @first-dsf-color;

@card-searchInputInnerPlaceHolder-color: #7b7b7b;

@card-category-borderColor: #fff;

@card-category-bgColor: transparent;

@card-navBtnColor: #666;

@card-navBtnColor-hover: @first-dsf-color;

@card-topWord-borderBottom: @first-dsf-color;

@card-catalogueItem-bgHover: @first-dsf-color;

@card-catalogueName-color: @first-dsf-color;

@card-catalogueName-hoverColor: @first-dsf-color;

@cards-bg-size: none;

@cards-bg-repeat: none;

@card-searchInputInner-Color: #7b7b7b;
