@import './common.less';
@import '~currentClientDir/variable/common.less';

@fishingPage-bg: auto;

@fishingPage-title: url('../assets/image/cards/bg-cards-words.png') center
  no-repeat;

@fishingPage-title-height: 12.5rem;

@fishingPage-padding-top: 11%;

@fishingPage-padding-top--hidden: 19.875%;

@fishingPage-placeholder-width: 180px;
@fishingPage-placeholder-height: 180px;

/*
** POKER_CENTER COMPONENT
*/
@fishingCenter-fontSize: 0.8rem;

@fishingCenter-pending-logo: @pending-logo;

@fishing-navBtn-bg: @btn-bg;

@fishing-navBtn-border: @btn-bg;

@fishing-canvasCategory-bg: @primary-color;

@fishing-catalogueItem-bg: @primary-color;

@fishing-searchInputInner-color: @text-color;

@fishing-canvasImage-bg: @base-black;

@fishing-canvasImage-size: 125px 40px;

@fishing-searchInputInner-bgColor: rgba(0, 0, 0, 0.5);

@fishing-buttonSearch-bgColor: rgba(0, 0, 0, 0.5);

@fishing-navBtn-bgColor: #000000;

@fishing-buttonTabOuter-bgColor: transparent;

@fishing-searchInputOuter-borderColor: @first-dsf-color;

@fishing-searchInputInnerPlaceHolder-color: #7b7b7b;

@fishing-category-borderColor: #fff;

@fishing-category-bgColor: transparent;

@fishing-navBtnColor: #666;

@fishing-navBtnColor-hover: @first-dsf-color;

@fishing-topWord-borderBottom: @first-dsf-color;

@fishing-catalogueItem-bgHover: @first-dsf-color;

@fishing-catalogueName-color: @first-dsf-color;

@fishing-catalogueName-hoverColor: @first-dsf-color;

@fishing-bg-size: none;

@fishing-bg-repeat: none;

@fishing-searchInputInner-Color: #7b7b7b;
