@import './common.less';
@import '~currentClientDir/variable/common.less';

@gamePage-bg: url('../assets/image/games/gameBg.png') center / cover no-repeat
  fixed;

@gamePage-title: transparent;

@gamePage-title-height: initial;

@gamePage-padding-top: 25%;

@gamePage-placeholder-width: 180px;
@gamePage-placeholder-height: 180px;

/*
** GAME_CENTER COMPONENT
*/
@gameCenter-fontSize: 0.8rem;

@gameCenter-pending-logo: @pending-logo;

@game-navBtn-bg: @btn-bg;

@game-navBtn-border: @btn-bg;

@game-canvasCategory-bg: @primary-color;

@game-catalogueItem-bg: @primary-color;

@game-searchInputInner-color: @text-color;

@game-canvasImage-bg: transparent;

@gameCenter-canvasImage-size: 125px 40px;

@game-searchInputInner-bgColor: rgba(0, 0, 0, 0.5);

@game-buttonSearch-bgColor: rgba(0, 0, 0, 0.5);

@game-navBtnbgColor: #000000;

@game-buttonTabOuter-bgColor: transparent;

@game-searchInputOuter-borderColor: @first-dsf-color;

@game-searchInputInnerPlaceHolder-color: #7b7b7b;

@game-category-borderColor: #fff;

@game-category-bgColor: transparent;

@game-navBtnColor: #666;

@game-navBtnColor-hover: @first-dsf-color;

@games-topWord-borderBottom: @first-dsf-color;

@games-catalogueItem-bgHover: @first-dsf-color;

@games-catalogueName-color: @first-dsf-color;

@games-catalogueName-hoverColor: @first-dsf-color;

@games-bg-size: none;

@games-bg-repeat: none;

@game-searchInputInner-Color: #7b7b7b;
