@import '../../general.less';
@import './base.less';

/** Login & Register Button **/
@betcenter-login-button-color: @first-dsf-color;
@login-button-color: @first-dsf-color;
@login-button-color-hover: @login-navigation-hover-disabled;
@login-button-word-color: @login-register-toptray-navigation-button;
@login-button-border: @login-register-toptray-navigation-button;

@betcenter-logins-button-color: @first-dsf-color;
@logins-button-color: @first-dsf-color;
@logins-button-color-hover: @login-navigation-hover-disabled;
@logins-button-word-color: @login-register-toptray-navigation-button;
@logins-button-border: #000000;

@betcenter-register-button-color: @login-register-toptray-navigation-button;
@register-button-color: @first-dsf-color;
@register-button-border: @first-dsf-color;
@register-button-color-hover-border: none;
@register-button-color-hover: @second-color;

@betcenter-register-button-color-hover: @login-register-toptray-navigation-button;
@login-button-borderRadius: 6px;

/** Navigation **/
@navigation-color-active: @first-dsf-color;
@navigation-color-header: @navigation-toptray;
@navigation-color-disable: @login-navigation-hover-disabled;
@navigation-color-active-item : #ffffff;

@navigation-button-fontSize-header: 1rem;
@navigation-background: transparent;
@subNavList-color: rgba(0, 0, 0, 0.7);

@betNavigationContentColor: @betPopOverTitle-content-shadow;
@betNavigationContentShadow: @betPopOverTitle-content-shadow;
@betNavigationBackground: @betPopOverBackground;
@betTitleBackgroundColor: @betPopOverTitleBackground;
@betTitleShadow: @betPopOverTitle-shadow-hover;
@betTitleColor: @betPopOverTitle-content-shadow;
@betNavigationContentBorder: @betPopOver-border;
@betHoverContent: @betPopOverTitle-shadow-hover;
@cards-color: none;
@games-color: none;
@sports-color: none;
@realis-color: none;

/** UserQuickAccessBar **/
@quickAccessBar: 0.75rem;
@quickAccessBar-button-height: 2rem;
@profile-quickAccessBar-color: inherit;
@profile-quickAccessBarIcon-color: inherit;
@profile-label-color--disabled: @toptraylink-useraccessbarlabeldisabled;
@quickAccessBarBtnWelcome-color: rgba(255, 255, 255, 0.7);
@quickAccessBarBtnMsg-color: rgba(255, 255, 255, 0.7);

/** quick money **/
@navigation-betcenter-button-background: @first-dsf-color;
@navigation-betcenter-button: @login-register-toptray-navigation-button;
@navigation-betcenter-button-hover: @login-navigation-hover-disabled;

/** TopTray **/
@topTray-background-color: @login-register-toptray-navigation-button;
@topTray-color: @navigation-toptray;
@toptray-header-link: @toptraylink-useraccessbarlabeldisabled;
@header-topTrayLink: rgba(255, 255, 255, 0.7);

// Quick Access Bar Button Chat
@quick-access-bar-btn-chat-color: #fff;
@quick-access-bar-btn-chat-border-color: #fff;
