@import './common.less';
@import '~currentClientDir/variable/common.less';

/*
** PROFILE COMPONENT
*/

/*
** COMMON
*/

@profile-primary-color: @primary-color;

@profile-text-color: #4c4c4c;

@profile-text-color--invert: @base-white;

@profile-text-color--disabled: #9a9a9a;

@profile-tableHeader-bg: @primary-color;

@profile-quickAccessBarIcon-color: inherit;

@profile-quickAccessBar-color: inherit;

@profile-quickAccessBar-fontSize: @size-1;

@profile-table-bg--even: #e2e2e2;

@profile-sideNav-color: @text-color;

@profile-sideNavLabel-color: @profile-text-color;

@profile-input-color: @profile-text-color;

@profile-input-color--disabled: @profile-text-color--disabled;

@profile-label-color: @profile-text-color;

@profile-label-color--disabled: @profile-text-color--disabled;

@profile-input-bg: @base-white;

@profile-borderColor: @border-color--light;

@profile-borderColor--disabled: @profile-text-color--disabled;

@profile-login-bg: @profile-primary-color;

@profile-login-bg--disabled: @bg-gray;

@profile-btn-color: @text-color--light;

@profile-login-color: @base-white;

@profile-btn-bg: @primary-color;

@profile-btn-bg-active: @primary-color--dark;

@profile-gradient-start: @primary-color;
@profile-gradient-end: @primary-color;
@profile-button-color: @primary-color;
@profile-button-text-color: #ffffff;
@profile-title-color: fade(@primary-color, 74%);
@profile-body-color: @primary-color;
