@import './common.less';
@import '~currentClientDir/variable/common.less';

/*
** RESULT COMPONENT
*/
@results-table-bg--even: @tableRow-bgColor--even;

@results-tableHeader-bg: @tableRow-bgColor--even;

@results-tableHeader-border: none;

@results-tableHeader-color: none;

@results-tableHeader-fontweight: normal;

@results-table-color: inherit;

@predictBtn: #60b630;

@results-betBtn-color: white;

@results-betBtn-border: none;

@results-betBtn-img: linear-gradient(
  to bottom,
  @accent-color--light 0%,
  @accent-color 100%
);

.betBtnHover {
}
.infoBtnHover {
}
.predictBtnHover {
}
