@import '~currentClientDir/variable/common.less';

@sportPage-bg: url('../assets/image/sports/sportBg.png') center / cover
  no-repeat fixed;

@sportsPage-wording: url('../assets/image/sports/bg-sports-word.png') center
  no-repeat;

@sportsPage-wording-height: 470px;

@sport-bottom-left: none;

@sport-bottom-right: none;

@sport-min-pageHeight: 65rem;

@sports-items-content-margintop: 0;

@sports-bg-noHeader: transparent;
