@import './base.less';
@import './general.less';

@welfare-center-primary-color: @first-dsf-color;

@welfare-center-bg: #fff;

@welfare-bg: #eee;

@welfare-center-container-br: 0;

@welfare-center-button-br: 0;

@welfare-center-font-color: @first-dsf-color;

@welfare-center-desc-color: #222;

@welfare-center-button-color: #fff;

@welfare-center-instruction-button-bg: #fff;
