@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: auto;

@cardPage-title: url('../assets/image/cards/bg-cards-headerxxcp.png') center /
  cover no-repeat;

@card-topWord-borderBottom: #fff;

@card-navBtn-bgColor: transparent;

@card-searchInputOuter-borderColor: #fff;

@card-category-borderColor: #fff;

@card-navBtnColor-hover: #fff;

@card-catalogueName-color: #fff;
