@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: auto;

@gamePage-title: url('../assets/image/games/bg-game-headerxxcp.png') center /
  cover no-repeat;

@games-topWord-borderBottom: #fff;

@game-navBtnbgColor: transparent;

@game-searchInputOuter-borderColor: #fff;

@game-category-borderColor: #fff;

@game-navBtnColor-hover: #fff;

@games-catalogueName-color: #fff;
