@import './base.less';

// @promotion-bg: #a50b03 url('../assets/image/promotion_bg.jpg') no-repeat bottom
//   center;

@promotion-bg: auto;

@promotion-header-bg: auto;

@promotions-sideBar-borderColor: #fff;

@promotions-sideBar-bgColor: #000;

@promotions-sideBarBtn-color: #666;

@promotions-sideBarBtn-color-active: #fff;
