@import '~clientResolver/index.less';

article {
  background-color: @base-white;
  min-width: @page-width;
}

.topSection {
  background-image: url('../../assets/image/mobileSite/banner.jpg');
  background-position: top center;
  width: 100%;
}

.container__flex {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: @page-width;
  margin: auto;
}

.description {
  margin: 0 auto;
}

.QRBtn {
  margin-bottom: @size-3;
}

.introBox {
  width: 600px;
  margin-top: @size-8;
}

.text {
  letter-spacing: calc(@size-0 / 3);
  text-align: center;

  > * {
    display: block;
  }
}

.icon {
  border-radius: 24px;
  padding: 9px 9px;
}

.icon::before {
  font-size: 24px;
  vertical-align: inherit;
}

.container__flexVertical {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box__desc {
  align-items: flex-start;
  border: 1px solid transparent;
  display: flex;
  padding: @size-3;

  & img {
    height: calc(@size-7 + @size-3);
    margin: @size-0;
    width: calc(@size-7 + @size-3);
  }

  & p {
    max-width: calc(@size-8 + @size-8 + @size-0);
  }

  & p * {
    display: block;
    margin: 0;
  }

  & p span:first-child {
    font-weight: bolder;
    font-size: @size-4;
  }
}

.group {
  padding-bottom: @size-7;
  padding-top: 0;
  display: inline-flex;
  margin-top: @size-9;

  > * {
    margin: @size-1 @size-7;
  }
}

.features {
  min-width: @page-width;

  > * {
    margin: 0 auto;
    padding: @size-6 0;

    @media (min-width: 1188px) {
      max-width: 80vw;
    }

    @media (min-width: 1464px) {
      max-width: 70vw;
    }

    @media (min-width: 1675px) {
      max-width: 60vw;
    }
  }

  & .feature__item {
    background-color: @yellow-4;
    margin: 1.5px;
  }

  & .feature__item p *:not(:first-child) {
    color: @orange-1;
    font-size: @size-2;
  }
}
