@import '~currentClientDir/variable/common.less';

@realiPage-bg: none;

@realiButtnPage-bg: url('../assets/image/relais/btn_AGxxcp.png') no-repeat;

.realiButton-maxin() {
  margin-left: -770px;
  margin-top: 0;
}

@realis-bg-noHeader: url('../assets/image/relais/relaiBgxxcp.png') center /
  cover no-repeat;
