@import './base.less';

@profile-borderColor: @common-background-line-color;

@profile-borderColor: @common-background-line-color;

@profile-btn-bg: @first-color;

@profile-btn-bg-disabled: @disabled-color;

@sub-btn-bg: @first-color;

@disabled-btn-bg-color: @disabled-color;

@btn-bg-color: @first-color;

@quickAccessBarBtn-color: #ffffff;

@userBarIcon-color: #ffffff;
