@import '../../general.less';
@import './base.less';

@navColor: #dedede;

@navWordColor: #555555;

@navigation-sidenavbackgroundcolor : #FF0000;

@navigation-word-color : white;

@navigation-hover-word-color : white;

@navigation-button-hover-color : #FF0000;
