@import '~clientResolver/index.less';

.filterButton {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  width: 10rem;
  border-radius: 4px;
  display: inline-flex;
  justify-content: space-between;

  [class*='mdi'] {
    margin: auto 0;
  }
}
