///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: #feb505;
@second-color: linear-gradient(270deg, #fec949 0, #feb505 50%, #ec9b31);

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-register-toptray-navigation-button: #000000;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@navigation-toptray: white;
@login-navigation-hover-disabled: #b20000;
@header-path-background: rgba(0, 0, 0, 0.7);
@betPopOverTitle-hover: #efe87a;
@betPopOverTitle-background: rgba(0, 0, 0, 0.8);
@betPopOver-shadow-border: rgba(255, 255, 255, 0.2);
@betPopOverContent: #ffffff;

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #feb505;
