@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: url('../assets/image/cards/cardsBg.jpg') top center no-repeat /
  cover fixed;

@cardPage-title: url('../assets/image/cards/bg-cards-words.png') center
  no-repeat;

@cardPage-padding-top: 0;

@cardPage-title-height: 450px;
