@import './common.less';

@profile-quickAccessBar-fontSize: 12px;

@profile-btn-bg-active: #66408d;

@profile-gradient-start: #552f60;
@profile-gradient-end: #8f6c82;
@profile-button-color: #451e56;
@profile-button-text-color: #ffffff;
@profile-title-color: #9259ab;
@profile-body-color: #451e56;
