@import '~currentClientDir/variable/common.less';

@realiPage-bg: url('../assets/image/relais/relaiBg.png') center / cover
  no-repeat;
@realiButtnPage-bg: url('../assets/image/relais/btn_AG.png') center/contain
  no-repeat;
@realiButtnPage-bg-BG: url('../assets/image/relais/btn_BG.png') center/contain
  no-repeat;
