@import './common.less';

@fishing-canvasImage-size: 100px 40px;

@fishingPage-bg: url('../assets/image/cards/cardPageBgxxcp.jpg') top center /
  cover no-repeat fixed;

@fishingPage-title: url('../assets/image/fishing/bg-fishing-header.png') center /
  cover no-repeat;

@fishing-topWord-borderBottom: #ffffff;

@fishing-navBtn-bgColor: transparent;

@fishing-searchInputOuter-borderColor: #ffffff;

@fishing-category-borderColor: #ffffff;
