@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: url('../assets/image/games/gamePageBgxxcp.jpg') center / cover
  no-repeat fixed;

@gamePage-title: url('../assets/image/games/bg-game-headerxxcp.png') center /
  cover no-repeat;

@games-topWord-borderBottom: #ffffff;

@game-navBtnbgColor: transparent;

@game-searchInputOuter-borderColor: #ffffff;

@game-category-borderColor: #ffffff;
