@import '~currentClientDir/variable/common.less';

@realiPage-bg: auto;

@realiButtnPage-bg: url('../assets/image/relais/btn_AGxxcp.png') center/contain
  no-repeat;
@realiButtnPage-bg-BG: url('../assets/image/relais/btn_BG.png') center/contain
  no-repeat;

@realis-bg-noHeader: url('../assets/image/relais/relaiBgxxcp.png') center /
  cover no-repeat;

.realiWrapper-maxin() {
  display: block;
  width: 55%;
  margin-top: 240px;
}

.realiButton-maxin() {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}
