@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: url('../assets/image/cards/cardPageBg626.png');

@cardPage-title: url('../assets/image/cards/bg-cards-header626.png') center /
  cover no-repeat;

@card-searchInputInner-bgColor: transparent;

@card-buttonSearch-bgColor: transparent;

@card-navBtn-bgColor: transparent;

@card-buttonTabOuter-bgColor: transparent;

@card-searchInputOuter-borderColor: @base-white;

@card-searchInputInnerPlaceHolder-color: @base-white;

@card-category-borderColor: @first-dsf-color;

@card-category-bgColor: transparent;

@card-navBtnColor: @base-white;

@card-navBtnColor-hover: @base-white;

@card-topWord-borderBottom: @base-white;

@card-catalogueItem-bgHover: @base-white;

@card-catalogueName-color: @base-white;

@card-catalogueName-hoverColor: @base-white;

@cards-bg-size: cover;

@cards-bg-repeat: no-repeat;

@card-searchInputInner-Color: @base-white;
