@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: url('../assets/image/games/gamePageBg626.png') center 100%
  no-repeat;

@gamePage-title: url('../assets/image/games/bg-game-header626.png') center /
  cover no-repeat;

@game-searchInputInner-bgColor: transparent;

@game-buttonSearch-bgColor: transparent;

@game-navBtnbgColor: transparent;

@game-buttonTabOuter-bgColor: transparent;

@game-searchInputOuter-borderColor: @base-white;

@game-searchInputInnerPlaceHolder-color: @base-white;

@game-category-borderColor: @first-dsf-color;

@game-category-bgColor: transparent;

@game-navBtnColor: @base-white;

@game-navBtnColor-hover: @base-white;

@games-topWord-borderBottom: @base-white;

@games-catalogueItem-bgHover: @base-white;

@games-catalogueName-color: @base-white;

@games-catalogueName-hoverColor: @base-white;

@games-bg-size: cover;

@games-bg-repeat: no-repeat;

@game-searchInputInner-Color: @base-white;
