@import './base.less';

@form-registerBtn-indigo-color: @first-dsf-color;

@form-registerBtn-white-bgcolor: @first-dsf-color;

@form-returnBtn-color: @first-dsf-color;

@agreementLink-color: @first-dsf-color;
