@import '~styles/variables.less';
@import '~clientResolver/index.less';

@homepage-panelHeader-height: @panelHeader-height;

.homePage_body {
  min-width: @page-width;
  padding-top: @panel-margin;
  background-color: @common-background-line-color;
}
.homePage_bodyContent {
  display: flex;
  position: relative;
  width: @page-width;
  margin: 0 auto 2px auto;
}
.homePage_panel {
  margin-bottom: @panel-margin;
  background-color: @common-background-color;
  // box-shadow: @shadow-dp2;
  min-height: 0;
}
.homePage_pabelBody {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.homePage_panel__center {
  width: @panel-center;
  margin: 0 @panel-margin;
  margin-left: @panel-side + @panel-margin;
  float: left;
}
.homePage_panel__side {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: @panel-side;
  max-height: 100%;
}

.homePage_panelHeader {
  padding: 0 @size-0;
  // background-color: @base-white; //for sou gou browser compatibility styling//
  color: @main-regular-color;
  font-size: @size-2;
  background-color: @base-white;
  line-height: @homepage-panelHeader-height;
  text-align: left;
  padding: 0 @size-0;
  font-weight: bold;
  i {
    line-height: 1;
  }
  // [class*='mdi'] {
  //   margin-right: @size-0;
  //   font-size: 1.25em;
  // }
}
