@import '~styles/variables.less';
@import '~clientResolver/index.less';

.predictPanel_body {
  padding: @size-0;
}
.predictPanel_header {
  border-bottom: 1px solid @common-background-line-color;
  padding-bottom: 1px;
}
.predictPanel_banner {
  width: 100%;
  cursor: pointer;
}
