@import '~styles/variables.less';
@import '~clientResolver/index.less';

.tutorial_header {
  border-bottom: 1px solid @common-background-line-color;
}

.tutorial_list {
  padding: @size-0 3px;
  color: @sub-regular-color;
  font-size: @size-2;
}

.tutorial_listItem {
  margin-bottom: @size-0;
}
.tutorial_emptyMsg {
  font-size: @size-2;
  color: @base-black;
}
