@import './base.less';

// @promotion-bg: #a50b03 url('../assets/image/promotion_bg.jpg') no-repeat bottom
//   center;

@promotion-bg: auto;

@promotion-header-bg: linear-gradient(to bottom, #303030, #111111);

@promotions-sideBar-borderColor: #fdf6c6;

@promotions-sideBarBtn-color: @first-dsf-color;

@promotions-sideBarBtn-color-active: @first-dsf-color;
