@import './common.less';

// betcenter calulator
@betCenter-cal-bg: @primary-color--dark;

@betCenter-cal-color: @base-white;

@betCenter-calUnitBtn-bg: inherit;

@betCenter-calUnitBtn-color: @base-white;

@betCenter-calUnitBtn-bg--active: @accent-color;

@betCenter-calBtn-bg: @base-white;

@betCenter-calBtn-color: @text-color;

@betCenter-calInput-bg: darken(@betCenter-cal-bg, 5%);

@betCenter-calInput-color: inherit;

@betCenter-calInput-borderColor: @accent-color;

/*
** COMPONENTS
*/
@lottery-bgColor--blue: @indicate-color;
