@import '~clientResolver/index.less';

article {
  position: relative;
  background-image: url('../../assets/image/mobileSite/mobileBgxxcp.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container__flex {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: @size-6;
  max-width: @page-width;

  .container_description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo_display {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 0;
}

.introBox {
  text-align: center;
  margin-bottom: @size-3;

  img {
    width: 500px;
  }
}

.text {
  letter-spacing: calc(@size-0 / 3);
  text-align: center;

  > * {
    display: block;
  }
}

.container__flexVertical {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.downloadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid @first-color;
  border-radius: 100px;
  color: @first-color;
  padding: 10px 0;
  margin: @size-2 0;
  font-size: @size-2;

  & span {
    padding-left: @size-3;
    vertical-align: middle;
  }

  &:hover {
    color: @first-color;
  }

  &:focus {
    text-decoration: none;
  }
}

.downloadBtnIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: @size-6;
}

.box__desc {
  align-items: flex-start;
  border: 1px solid transparent;
  display: flex;
  padding: @size-3;

  & img {
    height: calc(@size-7 + @size-3);
    margin: @size-0;
    width: calc(@size-7 + @size-3);
  }

  & p {
    max-width: calc(@size-8 + @size-8 + @size-0);
  }

  & p * {
    display: block;
    margin: 0;
  }

  & p span:first-child {
    font-weight: bolder;
    font-size: @size-4;
  }
}

.group {
  padding-bottom: @size-7;
  padding-top: 0;
  display: inline-flex;

  > * {
    margin: @size-1 @size-4;
  }

  & .downloadBtn {
    min-width: 190px;
  }
}
