///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: #035bb0;
@second-color: #9d9269;

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-border-toptray: rgba(0, 0, 0, 0.3);
@toptray-navigation: #000000;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@login-register-toptray-navigation-button: white;
@login-navigation-hover-disabled: #b20000;
@header-path-background: url('../assets/image/headerHomePageBg066.png') bottom
  no-repeat / cover;
@betPopOverTitle-content-shadow: #000000;
@betPopOverBackground: #ffffff;
@betPopOverTitle-shadow-hover: #035bb0;
@betPopOverTitleBackground: #227bd1;
@betPopOver-border: rgba(0, 0, 0, 0.1);

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #035bb0;
