@import './common.less';

@card-canvasImage-size: 100px 40px;

@cardPage-bg: #e5eef7;

@cardPage-title: url('../assets/image/cards/bg-cards-header066.png') center /
  cover no-repeat;

@card-searchInputInner-bgColor: transparent;

@card-buttonSearch-bgColor: transparent;

@card-navBtn-bgColor: transparent;

@card-buttonTabOuter-bgColor: transparent;

@card-searchInputOuter-borderColor: #035bb0;

@card-searchInputInnerPlaceHolder-color: @first-dsf-color;

@card-category-borderColor: #035bb0;

@card-category-bgColor: transparent;

@card-navBtnColor: #035bb0;

@card-navBtnColor-hover: @first-dsf-color;
