@import './common.less';

@gameCenter-canvasImage-size: 100px 40px;

@gamePage-bg: #e5eef7;

@gamePage-title: url('../assets/image/games/bg-game-header066.png') center /
  cover no-repeat;

@game-searchInputInner-bgColor: transparent;

@game-buttonSearch-bgColor: transparent;

@game-navBtnbgColor: transparent;

@game-buttonTabOuter-bgColor: transparent;

@game-searchInputOuter-borderColor: #035bb0;

@game-searchInputInnerPlaceHolder-color: @first-dsf-color;

@game-category-borderColor: #035bb0;

@game-category-bgColor: transparent;

@game-navBtnColor: #035bb0;

@game-navBtnColor-hover: @first-dsf-color;
