@import '../../general.less';
@import './base.less';

/** Login & Register Button **/
@betcenter-login-button-color: #035bb0;
@login-button-color: #035bb0;
@login-button-color-hover: #035bb0;
@login-button-word-color: #e5eef7;
@login-button-border: #035bb0;

@betcenter-logins-button-color: #035bb0;
@logins-button-color: #035bb0;
@logins-button-color-hover: #035bb0;
@logins-button-word-color: #e5eef7;
@logins-button-border: #035bb0;

@betcenter-register-button-color: #035bb0;
@register-button-color: #e5eef7;
@register-button-border: #035bb0;
@register-button-color-hover-border: #035bb0;
@register-button-color-hover: #035bb0;

@betcenter-register-button-color-hover: #ffffff;
@login-button-borderRadius: 3px;

/** Navigation **/
@navigation-color-active: #e5eef7;
@navigation-color-header: #000000;
@navigation-color-disable: @login-navigation-hover-disabled;
@navigation-color-active-item: #e5eef7;

@navigation-button-fontSize-header: 1rem;
@navigation-background: transparent;
@subNavList-color: #ffffff;

@betNavigationContentColor: @betPopOverTitle-content-shadow;
@betNavigationContentShadow: @betPopOverTitle-content-shadow;
@betNavigationBackground: @betPopOverBackground;
@betTitleBackgroundColor: @betPopOverTitleBackground;
@betTitleShadow: @betPopOverTitle-shadow-hover;
@betTitleColor: #e5eef7;
@betNavigationContentBorder: @betPopOver-border;
@betHoverContent: @betPopOverTitle-shadow-hover;

@cards-color: @header-path-background;
@games-color: @header-path-background;
@sports-color: @header-path-background;
@realis-color: @header-path-background;

/** UserQuickAccessBar **/
@quickAccessBar: 0.75rem;
@quickAccessBar-button-height: 2rem;
@profile-quickAccessBar-color: inherit;
@profile-quickAccessBarIcon-color: inherit;
@profile-label-color--disabled: @toptraylink-useraccessbarlabeldisabled;

/** Quick money **/
@navigation-betcenter-button-background: @first-dsf-color;
@navigation-betcenter-button: @login-register-toptray-navigation-button;
@navigation-betcenter-button-hover: @first-dsf-color;

/** TopTray **/
@topTray-background-color: @login-border-toptray;
@topTray-color: #ffffff;
@toptray-header-link: @toptraylink-useraccessbarlabeldisabled;
@header-topTrayLink: #e5eef7;
