@import './base.less';

@promotion-bg: auto;

@promotion-header-bg: auto;

@promotions-sideBar-borderColor: #fdf6c6;

@promotions-sideBarBtn-color: @first-dsf-color;

@promotions-sideBarBtn-color-active: @first-dsf-color;
