@import '~currentClientDir/variable/common.less';

@realiPage-bg: url('../assets/image/relais/relaiBgxxcp.png') black top center /
  cover no-repeat fixed;
@realiButtnPage-bg: url('../assets/image/relais/btn_AGxxcp.png') center/contain
  no-repeat;
@realiButtnPage-bg-BG: url('../assets/image/relais/btn_BG.png') center/contain
  no-repeat;
