///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: #004aa7;
@second-color: #9d9269;

///////////////////////////////** SUB COLOR **////////////////////////////////
@login-border-toptray: transparent;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@login-register-toptray-navigation-button: #004aa7;
@login-navigation-hover-disabled: #b20000;
@header-path-background: url('../assets/image/header-bg.png') bottom center /
  cover no-repeat;
@betPopOverTitle-hover: @first-dsf-color;
@betPopOverTitle-background: rgba(0, 0, 0, 0.8);
@betPopOver-shadow-border: rgba(255, 255, 255, 0.2);
@betPopOverContent: #ffffff;

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #000;
