@import './general.less';

@welfare-center-primary-color: @first-dsf-color;

@welfare-center-bg: fade(#000, 50%);

@welfare-bg: #000;

@welfare-center-container-br: 10px;

@welfare-center-button-br: 6px;

@welfare-center-font-color: #e5e5e5;

@welfare-center-desc-color: #fff;

@welfare-center-button-color: #e5e5e5;

@welfare-center-instruction-button-bg: #000;
