@import '../../general.less';
@import './base.less';

@logoMaxWidth: 220px;

@promotionBg-base: @common-background-line-color;

@entrance-color: @first-color;

@entrance-bg-color: @button-color;

@entrance-fontweight: bold;

@border-width: 1.5px solid #f4f4f4;

@font-weight: 600;
