@import '../../general.less';
@import './base.less';

@logoMaxWidth: 220px;

@promotionBg-base: @common-background-line-color;

@entrance-color: @first-color;

@entrance-bg-color: @button-color;

@entrance-fontweight: bold;

@homePageHeader-background: url('../assets/image/homepage_headerBg.png');
