@import './common.less';

/*
** Navigation COMPONENT
*/
@navigation-bg: transparent;

@navigation-profileNavRow-bg: url('../assets/image/header_bg.png') no-repeat
  right / contain;

@navigation-list-bg: linear-gradient(
  to bottom,
  lighten(@primary-color--light, 30%) 0%,
  lighten(@primary-color--light, 15%) 25%,
  @primary-color--light 50%,
  lighten(@primary-color, 5%) 75%,
  @primary-color 100%
);

@navigation-color--active: @primary-color--dark;

/*
** HOME_PAGE COMPONENT
*/
@home-content--min-height: 70.25vh;

@home-background: none;

/*
** Card COMPONENT
*/
@featured-item-bgColor: #ff5213;
