@import './common.less';

@profile-login-bg: #2087e8;

@profile-login-color: @base-white;

@profile-primary-color: #2087e8;

@profile-tableHeader-bg: #2087e8;

@profile-btn-bg: #53af23;

@profile-btn-bg-active: #53af23;
