@import './base.less';

@betCenter-headerLink-color: @first-color;

@betCenter-headerLink-shadow: none;

@betCenter-headerLink-border: 1px solid @first-color;

@headerGameName-color: @main-regular-color;

@text-color: @main-regular-color;

@accent-color: @sub-regular-color;

@ctrlButton-color: @common-background-line-color;

@lottery-bgColor--red: @red-ball-color;

@lottery-bgColor--blue: @blue-ball-color;

@lottery-bgColor--green: @green-ball-color;

@lottery-bgColor--default: @main-ball-color;

@betCenter-ratioCtrl-label-bg: @betcenter-sidelabel-color;

@betCenter-ratioCtrl-label-color: @button-color;

@betCenter-ratioCtrl-label-border: @betcenter-sidelabel-color;

@betCenter-ratioCtrl-content-bg: @common-table-color;

@betCenter-ratioCtrl-content-color: @main-regular-color;

@border-color--light: none;

@betCenter-ratioCtrl-input-bg: @first-color;

@betCenter-ratioCtrl-input-color: @button-color;

@bg-gray: @button-color;

@betCenter-ratioCtrl-inputValueIndicator-hasValue-bg: @button-color;

@betCenter-ratioCtrl-inputValueIndicator-highlight-bg: @button-color;

@ratioCtrl-rangeInput-border: 95px;
