@import '~clientResolver/index.less';
.dateTimeframeLinks_timeframeQuickLink {
  // display: flex;
}

.dateTimeframeLinks_timeframeQuickLinkItem {
  margin-right: @size-0;
  &[data-active='true'] {
    background-color: @profile-primary-color;
    color: @base-white;
  }
  &:hover {
    background-color: @profile-primary-color;
    color: @base-white;
  }
}
.dateTimeframeLinks_timeframeQuickLinkLabel {
  margin-right: @size-0;
  padding-top: 0.3rem;
  min-width: 60px;
}
