@import '~clientResolver/index.less';

.imgAbs {
  transition: all 0.8s;
  background-color: @game-canvasImage-bg;
  background-image: @gameCenter-pending-logo;
  background-size: @gameCenter-canvasImage-size;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
