///////////////////////////////** MAIN COLOR **////////////////////////////////
@first-dsf-color: #f10219;
@second-color: #fd6b02;

///////////////////////////////** SUB COLOR **////////////////////////////////
@toptray-navigation: #000000;
@toptraylink-useraccessbarlabeldisabled: #9a9a9a;
@login-register-toptray-navigation-button: white;
@login-navigation-hover-disabled: #b20000;
@header-path-background: rgba(0, 0, 0, 0.7);
@betPopOverTitle-content-shadow: #000000;
@betPopOverBackground: #ffffff;
@betPopOverTitle-shadow-hover: #f10219;
@betPopOverTitleBackground: rgba(241, 2, 25, 0.2);
@betPopOver-border: rgba(0, 0, 0, 0.1);

////////////////////////** SHARED COLOR WITH BASE**///////////////////////////
@first-color: #fd6b02;
