@import '../../general.less';
@import './base.less';

/** Login & Register Button **/
@betcenter-login-button-color: @first-dsf-color;
@login-button-color: @first-dsf-color;
@login-button-color-hover: @first-dsf-color;
@login-button-word-color: @login-register-toptray-navigation-button;
@login-button-border: none;

@betcenter-register-button-color: @second-color;
@register-button-color: @login-register-toptray-navigation-button;
@register-button-border: none;
@register-button-color-hover-border: none;
@register-button-color-hover: @second-color;

@betcenter-register-button-color-hover: @login-register-toptray-navigation-button;

/** Navigation **/
@navigation-color-active: @first-dsf-color;
@navigation-color-header: @toptray-navigation;
@navigation-color-disable: @login-navigation-hover-disabled;
@navigation-color-active-item: #000000;

@navigation-button-fontSize-header: 1rem;
@navigation-background: transparent;
@subNavList-color: #ffffff;

@betNavigationContentColor: @betPopOverTitle-content-shadow;
@betNavigationContentShadow: @betPopOverTitle-content-shadow;
@betNavigationBackground: @betPopOverBackground;
@betTitleBackgroundColor: @betPopOverTitleBackground;
@betTitleShadow: @betPopOverTitle-shadow-hover;
@betTitleColor: @betPopOverTitle-content-shadow;
@betNavigationContentBorder: @betPopOver-border;
@betHoverContent: @betPopOverTitle-shadow-hover;

@cards-color: #fff;
@games-color: #fff;
@sports-color: #fff;
@realis-color: #fff;

/** UserQuickAccessBar **/
@quickAccessBar: 0.75rem;
@quickAccessBar-button-height: 2rem;
@profile-quickAccessBar-color: inherit;
@profile-quickAccessBarIcon-color: inherit;
@profile-label-color--disabled: @toptraylink-useraccessbarlabeldisabled;

/** Quick money **/
@navigation-betcenter-button-background: @first-dsf-color;
@navigation-betcenter-button: @login-register-toptray-navigation-button;
@navigation-betcenter-button-hover: @first-dsf-color;

/** TopTray **/
@topTray-background-color: @toptray-navigation;
@topTray-color: @login-register-toptray-navigation-button;
@toptray-header-link: @toptraylink-useraccessbarlabeldisabled;
