@import './common.less';

@profile-gradient-start: #f10219;
@profile-gradient-end: #fd6b02;
@profile-button-color: #f10219;
@profile-button-text-color: #ffffff;
@profile-title-color: #ff6f7d;
@profile-body-color: #f10219;
