@import './base.less';

@betCenter-headerLink-color: @first-color;

@betCenter-headerLink-shadow: none;

@betCenter-headerLink-border: 1px solid @first-color;

@headerGameName-color: @main-regular-color;

@text-color: @main-regular-color;

@accent-color: @sub-regular-color;

@ctrlButton-color: @common-background-line-color;

@lottery-bgColor--red: @red-ball-color;

@lottery-bgColor--blue: @blue-ball-color;

@lottery-bgColor--green: @green-ball-color;

@lottery-bgColor--default: @main-ball-color;

@betCenter-ratioCtrl-label-bg: @betcenter-sidelabel-color;

@betCenter-ratioCtrl-label-color: @button-color;

@betCenter-ratioCtrl-label-border: @betcenter-sidelabel-color;

@betCenter-ratioCtrl-content-bg: @common-table-color;

@betCenter-ratioCtrl-content-color: @main-regular-color;

@border-color--light: none;

@betCenter-ratioCtrl-input-bg: @first-color;

@betCenter-ratioCtrl-input-color: @button-color;

@betCenter-ratioCtrl-inputValueIndicator-hasValue-bg: @button-color;

@ratioCtrl-rangeInput-border: 95px;

@menuItem-bgColor: #fff;

@menuItem-borderTopColor: #ebebeb;

@menuExpandToggle-bgColor: #fff;

@menuExpandToggle-Color: #000;

@menuChevron-color: #000;

@subMenuItem-color: #4c4c4c;

@subMenuItem-bgColor: #eeedf2;

@subMenuItem-hover-bgColor: #ff3d40;

@menuExpandToggle-hover-Color: #000;

@subMenuItem-disabled-trueData-color: #fff;

@subMenuItem-hover-onlybgColor: #fff;

@sideNav-boxShadow: 0 4px 5px 0 rgba(138, 138, 138, 0.14),
  0 1px 10px 0 rgba(138, 138, 138, 0.12),
  0 2px 4px -1px rgba(138, 138, 138, 0.4);
